.notification-service-output {
  position: fixed;
  bottom: 0;
  font-size: 1.2em;
  font-weight: bold;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 9000;

  i {
    margin-right: 10px;
  }
}

.notification-service-success {
  background: $green-800;
}

.notification-service-error {
  background: $danger-800;
}
