<div class="home-intro">
  <div class="hero-container">
    <h1>My name is Stephen</h1>
    <h2>I build<strong>{{buildText}}</strong> with JavaScript</h2>
  </div>

  <div class="content-container">
    <a href="https://github.com/BGZStephen" target="_blank" class="button button-github"><i class="fab fa-github"></i>Github</a>
    <a href="https://www.linkedin.com/in/javascriptsteve/" target="_blank" class="button button-linkedin"><i class="fab fa-linkedin"></i>LinkedIn</a>
    <a href="mailto:sjw948@gmail.com" class="button button-email"><i class="fa fa-envelope"></i>Email</a>
    <a href="phone:07584132200" class="button button-phone"><i class="fa fa-phone"></i>Call</a>
  </div>
</div>
