.work-example-editor {
  .left-container {
    width: 100%;

    @media(min-width: 1024px) {
      max-width: 1400px;
    }
  }

  #title-input {
    max-width: 600px;
  }

  #description-input {
    max-width: 900px;
  }

  img {
    max-width: 100%;
  }

  h1 {
    color: white;
    margin-bottom: 15px;
  }

  label {
    color: white;
    font-size: 1.2em;
  }

  .button--green,
  .button--danger,
  .button--blue,
  .button--orange {
    color: black;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
    padding-left: 30px;
    position: relative;

    i {
      position: absolute;
      left: 10px;
      top: 11px;
      font-size: .9em;
      margin-right: 5px;
    }
  }

  .section-selector {
    margin-right: 10px;
    position: relative;
    -webkit-appearance: none;
    background: black;
    background-image: url('/assets/images/arrow-down.png');
    background-repeat: no-repeat;
    background-position: right 5px top 50%;
    background-size: 20px 20px;
    padding-right: 20px;
  }

  select {
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 8px;
    padding-right: 20px;
    width: 170px;
  }

  input,
  textarea {
    background: #121212;
    border: none;
    color: white;
    font-size: 1.2em;
    padding: 8px;
    width: 100%;
  }

  .panel {
    margin-left: 0;
    textarea {
      width: 100%;
    }
  }

  .image-selector {
  	width: 0.1px;
  	height: 0.1px;
  	opacity: 0;
  	overflow: hidden;
  	position: absolute;
  	z-index: -1;
  }

  .content-input {
    position: relative;
    min-height: 125px;
  }

  .image-upload-selector {
    width: 100%;
    min-height: 100%;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
  }

  .image-upload-overlay {
    width: 100%;
    min-height: 100%;
    align-items: center;
    background: rgba(black, 0.5);
    bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;

    p {
      color: white;
      font-size: 1.2em;
    }

    i {
      color: rgba(white, 0.3);
      font-size: 1.6em;
      margin-right: 15px;
      margin-bottom: -3px;
      transition: 0.3s ease;
    }

    &:hover i {
      color: white;
    }
  }
}
