.work-example {
  align-content: flex-start;
  background: black;
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  padding: 10px;
  position: relative;
  width: 100%;

  h3 {
    color: white;
    margin-bottom: 5px;
    width: 100%;
  }

  p {
    color: #CCCCCC;
    width: 100%;
  }

  .work-example-overlay {
    justify-content: center;
    transition: 1.3s ease all;
    width: 100%;

    .external-link-wrapper {
      border: 2px solid $blue-600;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      padding: 4px 12px;
      align-items: center;

      i {
        margin-right: 15px;
        transition: 0.3s ease all;
      }

      a {
        border-radius: 5px;
        color: $blue-600;
        font-weight: bold;
        margin: 10px 0;
        position: relative;
        transition: 0.3s ease all;
        text-decoration: none;
      }

      @media(min-width: 768px) {

        &:hover {
          background: $blue-600;
          transition: 0.3s ease all;

          a {
            color: black !important;
          }
          i {
            color: black !important;
          }
        }
        padding: 6px 18px;
      }
    }

    .wrapper--blue {
      border: 2px solid $blue-600;
    }

    @media(min-width: 768px) {
      background: rgba(0,0,0, 0.7);
      display: flex;
      visibility: 0;
      opacity: 0;
      position: absolute;
      justify-content: center;
      align-items: center;
      bottom: 0;
      left: 0;
      top: 0;
      transition: 0.3s ease all, 0.5s ease top;
      right: 0;

      &:hover {
        visibility: 1;
        opacity: 1;
      }
    }
  }
}
