#front-end-js {
  background: #f7df1e;

  ul {
    li {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      h2 {
        background: #333;
        color: #f7df1e;
      }

      p {
        display: none;
        @media(min-width: $screen-md) {
          display: inline;
        }
      }
    }
  }
}

#back-end-js {
  background: #333;
  h1 {
    color: white;
  }
  ul {
    li {
      h2 {
        background: #43853d;
        color: #CCC;
      }
      p {
        color: white;
      }
    }
  }
}

#back-end-js,
#front-end-js {
  padding: 10px;
  
  h1 {
    margin-bottom: 30px;
  }

  ul {
    list-style: none;
    li {
      h2 {
        font-size: 1.4em;
        margin: 5px 0 10px 0;
        padding: 8px;
        @media(min-width: $screen-md) {
          font-size: 1.6em;
          padding: 8px;
        }
      }
      p {
        padding: 0 10px;
      }

      @media(min-width: $screen-md) {
        margin-bottom: 20px;
        width: 48%
      }

      @media(min-width: $screen-lg) {
        width: 31%
      }
    }
    @media(min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
