<div id="work-example-view">
  <h2>{{workExample.workExample.title}}</h2>
  <p>{{workExample.workExample.createdOn | date}}</p>
  <p>{{workExample.workExample.description}}</p>
  <div *ngFor="let section of workExample.workExample.content">
    <label>Section title</label>
    <input type="text">
    <label>Section type</label>
    <select>
      <option>One column</option>
      <option>Two column</option>
      <option>Three column</option>
    </select>
    <label>Section description</label>
    <textarea type="text"></textarea>
  </div>
  <div>
    <label>Section title</label>
    <input type="text">
    <label>Section type</label>
    <select>
      <option>One column</option>
      <option>Two column</option>
      <option>Three column</option>
    </select>
    <label>Section description</label>
    <textarea type="text"></textarea>
  </div>
  <button class="button button--danger">Delete section</button>
  <button class="button button--primary">Add section</button>
  <button class="button button--success">Save</button>
</div>
