@for $i from 1 through 12 {
  .col-#{$i}--flush {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * #{$i});
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    margin: 6px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 12px);
  }
}

@media(min-width: $screen-sm) {
  .col-1 {
    width: calc(100% / 12 * 3 - 12px);
  }

  .col-2 {
    width: calc(100% / 12 * 6 - 12px);
  }

  .col-3 {
    width: calc(100% / 12 * 6 - 12px);
  }

  .col-4 {
    width: calc(100% - 12px);
  }
}

@media(min-width: $screen-md) {
  .col-1 {
    width: calc(100% / 12 * 2 - 12px);
  }

  .col-2 {
    width: calc(100% / 12 * 4 - 12px);
  }

  .col-3 {
    width: calc(100% / 12 * 6 - 12px);
  }

  .col-4 {
    width: calc(100% / 12 * 6 - 12px);
  }

  .col-5 {
    width: calc(100% / 12 * 6 - 12px);
  }

  .col-6 {
    width: calc(100% - 12px);
  }
}

@media(min-width: $screen-lg) {
  @for $i from 1 through 12 {
    .col-#{$i} {
      width: calc(100% / 12 * #{$i} - 12px);
    }
  }
}
