.row {
  display: flex;
  flex-wrap: wrap;
  margin: 3px 0;

  &:first-child {
    margin-top: 6px;
  }

  &:last-child {
    margin-bottom: 6px;
  }
}

.row--flush {
  display: flex;
  flex-wrap: wrap;
}
