<div id="dashboard-navbar">
  <div id="logo-container">
    <p>Portfolio dashboard</p>
    <i class="fa fa-bars" (click)="toggleMenuVisibility()"></i>
  </div>
  <ul class="menu-primary" [ngStyle]="primaryMenuStyle()" (window:resize)="primaryMenuStyle()">
    <li *ngFor="let primaryMenuItem of navbarMenu; let i = index" class="menu-item-primary">
      <div class="menu-content-primary">
        <i class="fa {{primaryMenuItem.icon}}"></i>
        <p>{{primaryMenuItem.title}}</p>
        <i *ngIf="primaryMenuItem.submenu" class="fa fa-caret-down" (click)="setActiveSubmenu(i)"></i>
      </div>
      <ul *ngIf="primaryMenuItem.submenu" class="menu-secondary" [ngStyle]="secondaryMenuStyle(i)">
        <li *ngFor="let secondaryMenuItem of primaryMenuItem.submenu; let j = index" class="menu-item-secondary">
          <div class="menu-content-secondary">
            <i class="fa {{secondaryMenuItem.icon}}"></i>
            <p>{{secondaryMenuItem.title}}</p>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
