<div id="dashboard-navbar">
  <div id="logo-container">
    Portfolio dashboard
  </div>
  <ul *ngFor="let primaryMenu of navbarMenu" class="menu-primary">
    <li class="menu-item-primary">
      <div class="menu-content-primary">
        <i class="fa {{primaryMenu.icon}}"></i>
        <p>{{primaryMenu.title}}</p>
        <i *ngIf="primaryMenu.submenu" class="fa fa-caret-down"></i>
      </div>
      <ul *ngFor="let secondaryMenu of primaryMenu.submenu" class="menu-secondary">
        <li class="menu-item-secondary">
          <div class="menu-content-secondary">
            <i class="fa {{secondaryMenu.icon}}"></i>
            <p>{{secondaryMenu.title}}</p>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
